doctype html
html(lang='en')
    head
        meta(charset='UTF-8')
        meta(name='viewport', content='width=device-width, initial-scale=1.0')
        meta(http-equiv='X-UA-Compatible', content='ie=edge')
        title Dashboard
        link(rel='stylesheet', href='/stylesheets/css/icons.css')
        link#theme.light(rel='stylesheet', href='/stylesheets/css/light.css')
        link(href='https://fonts.googleapis.com/css?family=Roboto:400,500,700', rel='stylesheet')
        link(rel='stylesheet', href='https://malihu.github.io/custom-scrollbar/jquery.mCustomScrollbar.min.css')
        link(rel='stylesheet', href='/stylesheets/css/cryptocoins.css')
        link(rel='stylesheet', href='/stylesheets/css/cryptocoins-colors.css')
    body.loginLayout
        .loginHeader
            .logo
                a(href='../../')
                    img(src='/images/logo.png', alt='Logo')
        .portlet.portlet-without-header
            .portlet-content
                div#register.container
                    div: form(method='post', action = '/auth/users/signup',class='form-vertical')
                        fieldset
                            .title
                                span.line
                                h2 Üye Ol
                            div.form-group
                                .input-with-label
                                    label İsim
                                    input.form-control(name='first', autofocus)
                            div.form-group
                                .input-with-label
                                    label Soyisim
                                    input.form-control(name='last')
                            div.form-group
                                .input-with-label
                                    label E-Posta Adresi
                                    input.form-control(name='email', autofocus, id='email')
                                    .alert.alert-danger(role='alert', style="display: none;", id="emailAlert")
                                        p#emailVerify.form_error
                            div.form-group
                                .input-with-label
                                    label Şifre
                                    input.form-control(name='password', type='password')
                            div.form-group
                                .input-with-label
                                    label Şifre (Tekrar)
                                    input.form-control(name='passwordrepeat', type='password')
                            label.checkbox
                                input(type='checkbox')
                                span
                                    span
                                |            Şartları ve koşulları kabul ediyorum.
                            div.form-actions
                                input.btn.button.block.primary(type='submit', value='Üye Ol', style='margin: 0 auto;', id='signupBtn', disabled)
                            span.warning
                                | Already have an account?
                                a.loginLink(href='../../auth/users/login') Login

        footer
            .footerContent
                .footerLogo
                    img(src='/images/logo.png', alt='Logo')
                .copyright
                    | 2018 — All rights reserved
        script(src='https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js')
        script(src='js/app.js', type='text/javascript')
        script(src='/javascripts/auth.js', type='text/javascript')

