doctype html
html(lang='en')
    head
        meta(charset='UTF-8')
        meta(name='viewport', content='width=device-width, initial-scale=1.0')
        meta(http-equiv='X-UA-Compatible', content='ie=edge')
        title Dashboard
        link(rel='stylesheet', href='css/icons.css')
        link#theme.light(rel='stylesheet', href='/stylesheets/css/light.css')
        link(href='https://fonts.googleapis.com/css?family=Roboto:400,500,700', rel='stylesheet')
        link(rel='stylesheet', href='https://malihu.github.io/custom-scrollbar/jquery.mCustomScrollbar.min.css')
        link(rel='stylesheet', href='/stylesheets/css/cryptocoins.css')
        link(rel='stylesheet', href='/stylesheets/css/cryptocoins-colors.css')

    body.loginLayout
        .loginHeader
            .logo
                a(href='#')
                    img(src='/images/logo.png', alt='Logo')
        .portlet.portlet-without-header
            .portlet-content
                div#twofa.container
                    div: form(action='/auth/totp-input', method='post')
                        fieldset
                            .title
                                span.line
                                //h2 2 Faktörlü Giriş
                                h2 #{deneme}
                            div.form-group
                                .input-with-label
                                    label Google Authenticator Şifresi
                                    input.form-control(name='code', type='password', autofocus)
                            //a.forgotPw(href='#') Şifremi Unuttum
                            div.form-actions
                                input.btn.button.block.primary(type='submit', value='Onayla', style='margin: 0 auto;')
                        //span.warning
                            | Daha üye olmadınız mı?
                            a.registerLink(href='#') Üye Olun
        footer
            .footerContent
                .footerLogo
                    img(src='/images/logo.png', alt='Logo')
                .copyright
                    | 2018 — All rights reserved
        script(src='https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js')
        script(src='js/app.js', type='text/javascript')

